/*
.card {
    height: 30vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.card h3 {
    font-size: 1.2em;
    margin: 0;
}

.card-header {
    padding: 0.6em;
}

.card th {
    font-size: 0.9em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

*/